<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-8 col-sm-8 ">
                <p>Leeds, UK</p>
            </div>
            <div class="col-4 col-sm-4 text-right">
                <h1>3&deg;</h1>
            </div>
        </div>
    </div>
    <div class="card-block">
        <p>0</p>
        <p>Rainning</p>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-5 col-sm-5 ">
                <p>Wind</p>
                <p>14mph</p>
            </div>
            <div class="col-5 col-sm-5  
                        offset-2 offset-sm-2">
                    <p>Humidity</p>
                    <p>80%</p>
                </div>            
        </div>
    </div>
</div>